In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Clyde River,CA,2020-02-23 05:21:44,70.47,-68.59,-29.2,73,1,3.36
1,1,Sinop,TR,2020-02-23 05:21:44,41.77,34.87,41.0,93,90,4.70
2,2,Georgetown,MY,2020-02-23 05:21:44,5.41,100.34,89.6,52,20,14.99
3,3,Bredasdorp,ZA,2020-02-23 05:21:44,-34.53,20.04,63.0,77,10,5.82
4,4,Necochea,AR,2020-02-23 05:21:45,-38.55,-58.74,52.0,96,0,4.00

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"] 
# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures],
                                dissipating=False, max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Assign the weights variable to some values.
humidity = city_data_df["Humidity"] 
# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Assign the weights variable to some values.
clouds = city_data_df["Cloudiness"] 
# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Assign the weights variable to some values.
wind_speed = city_data_df["Wind Speed"] 
# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed,
                                dissipating=False, max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [13]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Georgetown,MY,2020-02-23 05:21:44,5.41,100.34,89.60,52,20,14.99
7,7,Hithadhoo,MV,2020-02-23 05:16:51,-0.60,73.08,82.44,79,100,13.71
29,29,Bambous Virieux,MU,2020-02-23 05:21:51,-20.34,57.76,82.00,88,75,6.76
32,32,Ambilobe,MG,2020-02-23 05:21:52,-13.20,49.05,84.56,72,20,1.99
37,37,Islamkot,PK,2020-02-23 05:21:53,24.70,70.18,84.27,24,3,12.12
45,45,Saint-Philippe,RE,2020-02-23 05:21:55,-21.36,55.77,80.60,65,100,5.82
55,55,Souillac,MU,2020-02-23 05:21:57,-20.52,57.52,82.00,88,75,7.00
56,56,Meulaboh,ID,2020-02-23 05:21:57,4.14,96.13,83.55,68,9,5.35
59,59,Caravelas,BR,2020-02-23 05:21:58,-17.71,-39.25,81.01,84,100,14.47
64,64,Mocuba,MZ,2020-02-23 05:21:59,-16.84,36.99,81.37,80,65,3.38

In [14]:
preferred_cities_df.count()

City_ID       83
City          83
Country       83
Date          83
Lat           83
Lng           83
Max Temp      83
Humidity      83
Cloudiness    83
Wind Speed    83
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
2        Georgetown      MY     89.60   5.41  100.34
7         Hithadhoo      MV     82.44  -0.60   73.08
29  Bambous Virieux      MU     82.00 -20.34   57.76
32         Ambilobe      MG     84.56 -13.20   49.05
37         Islamkot      PK     84.27  24.70   70.18
45   Saint-Philippe      RE     80.60 -21.36   55.77
55         Souillac      MU     82.00 -20.52   57.52
56         Meulaboh      ID     83.55   4.14   96.13
59        Caravelas      BR     81.01 -17.71  -39.25
64           Mocuba      MZ     81.37 -16.84   36.99

In [16]:
# Set parameters to search for a hotel using fixed latitude and longitude.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL for Google Maps API Call.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
names = [hotels["results"][i]["name"] for i in range(len(hotels["results"]))]
names

['Hôtel Duo',
 'Hôtel Britannique - Paris Louvre',
 'Citadines Les Halles Paris (Apart Hotel Paris)',
 'Hotel Novotel Paris les Halles',
 'Hôtel Ducs de Bourgogne',
 'Citadines Saint-Germain-des-Prés Paris',
 'Paris France Hôtel',
 'Hôtel Bel Ami',
 'Hotel Regina Louvre',
 'Hotel ibis Paris Gare de Lyon Ledru Rollin 12ème',
 'Hôtel De France Gare de Lyon Bastille',
 'Hôtel Corona Opéra',
 'Hôtel Libertel Austerlitz Jardin des Plantes',
 'Saint James Albany Paris Hôtel Spa',
 'Hôtel Icône',
 'The Westin Paris - Vendôme',
 "Hôtel d'Orsay - Esprit de France",
 'Hôtel Mayfair Paris',
 "Holiday Inn Paris - Gare de L'Estates",
 'W Paris Opéra']

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the coordinates.
    lat = row["Lat"]
    lng = row["Lng"]
    print(f"Latitude: {lat}, Longitude: {lng}")
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    try:
        # Make request and get the JSON data from the search,
        hotels = requests.get(base_url, params=params).json()
        # Grab the first hotel from the results and store the name.
        hotel = hotels["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel
        print(f"Hotel found: {hotel}")
    except:
        print("Hotel not found... skipping")
        pass

Latitude: 5.41, Longitude: 100.34
Hotel found: Cititel Penang
Latitude: -0.6, Longitude: 73.08
Hotel found: Scoop Guest House
Latitude: -20.34, Longitude: 57.76
Hotel found: Casa Tia Villa
Latitude: -13.2, Longitude: 49.05
Hotel found: Hôtel & Restaurant DIANA Ambilobe
Latitude: 24.7, Longitude: 70.18
Hotel found: Ghazi Guest House
Latitude: -21.36, Longitude: 55.77
Hotel found: Chambres d'hôte "La Trinité"
Latitude: -20.52, Longitude: 57.52
Hotel found: Bils' Villa
Latitude: 4.14, Longitude: 96.13
Hotel found: Kost Pria
Latitude: -17.71, Longitude: -39.25
Hotel found: Pousada dos Navegantes
Latitude: -16.84, Longitude: 36.99
Hotel found: Phama Lodge
Latitude: 6.12, Longitude: 81.12
Hotel found: Bungalow 63
Latitude: -25.17, Longitude: 45.05
Hotel not found... skipping
Latitude: -16.92, Longitude: 35.26
Hotel not found... skipping
Latitude: -20.41, Longitude: 57.7
Hotel found: Shandrani Beachcomber Resort & Spa
Latitude: -0.72, Longitude: 8.78
Hotel found: Fengshui Residence
Latitude: 26.73, Longitude: 86.5
Hotel found: Hotel Durbar Pvt. Ltd.
Latitude: -4.97, Longitude: 39.83
Hotel not found... skipping
Latitude: -33.65, Longitude: 115.33
Hotel found: Observatory Guest House
Latitude: -16.17, Longitude: 49.77
Hotel found: androkaroka.les 3 arcs
Latitude: 4.93, Longitude: -52.33
Hotel found: Hôtel Le Dronmi
Latitude: 11.0, Longitude: 122.67
Hotel found: Camp Pasica
Latitude: -20.01, Longitude: 57.66
Hotel found: Veranda Paul et Virginie Hotel & Spa
Latitude: 17.55, Longitude: 80.65
Hotel found: Hotel Surya Palace
Latitude: 12.58, Longitude: -81.7
Hotel found: Hotel Arena Blanca
Latitude: 12.8, Longitude: 74.85
Hotel found: AK INTERNATIONAL LODGE
Latitude: -20.21, Longitude: 57.76
Hotel found: Emeraude Beach Attitude Hotel
Latitude: 3.38, Longitude: -59.8
Hotel found: Savannah Inn
Latitude: -3.22, Longitude: 40.12
Hotel found: African House Resort
Latitude: 2.67, Longitude: 72.89
Hotel found: Kudahuvadhoo Retreat
Latitude: 3.47, Longitude: 31.25
Hotel found: Praford Hotel
Latitude: 5.1, Longitude: 73.07
Hotel found: Soneva Fushi
Latitude: -8.01, Longitude: -34.86
Hotel found: Hotel 5 Sóis
Latitude: 6.5, Longitude: 2.6
Hotel found: Tour Eiffel Hotel Benin
Latitude: 4.57, Longitude: 28.4
Hotel found: Kabash Inn
Latitude: 14.62, Longitude: 75.62
Hotel not found... skipping
Latitude: 5.79, Longitude: 0.9
Hotel found: BeatzWave Studios
Latitude: 3.08, Longitude: -59.95
Hotel not found... skipping
Latitude: 8.0, Longitude: 124.29
Hotel found: Derogongan Residence
Latitude: 3.66, Longitude: 31.72
Hotel found: Multi Purpose Training Center, Moyo
Latitude: -19.61, Longitude: 34.74
Hotel found: Armazem
Latitude: 17.87, Longitude: 76.95
Hotel found: Tourist Lodge
Latitude: 5.29, Longitude: -3.3
Hotel found: Hotel Lagune
Latitude: -6.13, Longitude: 12.37
Hotel found: Hotel Mpampa
Latitude: 5.56, Longitude: 95.32
Hotel found: OYO 884 Rumoh PMI Hotel
Latitude: 7.42, Longitude: 81.82
Hotel found: VS Villa
Latitude: 5.35, Longitude: 48.53
Hotel not found... skipping
Latitude: 20.12, Longitude: 85.83
Hotel found: BAITANGI,PIPILI,PURI,ODISHA
Latitude: 2.04, Longitude: 45.34
Hotel found: Hotel Juba
Latitude: -19.52, Longitude: 45.47
Hotel found: Hôtel Arc En Ciel Miandrivazo
Latitude: 6.19, Longitude: -67.49
Hotel found: Casa Hotel Victoria
Latitude: 8.85, Longitude: -76.43
Hotel found: Hotel Riviera Del Sol
Latitude: -10.13, Longitude: -36.18
Hotel found: Pousada e Hotel Litoral Sul
Latitude: 20.73, Longitude: 81.2
Hotel found: Sai sakshi girls hostal
Latitude: 6.04, Longitude: 80.22
Hotel found: Amangalla
Latitude: 6.62, Longitude: 73.07
Hotel found: Haajy Guest House 1
Latitude: 5.89, Longitude: 95.32
Hotel found: Hotel Citra
Latitude: 11.5, Longitude: 42.5
Hotel found: Campement touristique DANKALELO
Latitude: -24.87, Longitude: 113.63
Hotel found: Hospitality Carnarvon
Latitude: -22.22, Longitude: 30.0
Hotel found: PETERS MOTEL & CONFERENCE CENTRE
Latitude: 10.57, Longitude: 72.64
Hotel found: Hotels in Lakshadweep Islands
Latitude: 3.78, Longitude: 72.97
Hotel found: Omadhoo Inn
Latitude: -23.86, Longitude: 35.38
Hotel found: MHL Turismo SA
Latitude: -0.32, Longitude: 102.35
Hotel found: Wajiman Homestay
Latitude: -12.58, Longitude: 13.41
Hotel not found... skipping
Latitude: 4.17, Longitude: 73.51
Hotel found: Hotel Octave Maldives
Latitude: 5.49, Longitude: -70.41
Hotel found: La Riviera Hotel Colonial
Latitude: 6.88, Longitude: 73.1
Hotel found: Dhidhoo beach
Latitude: -21.34, Longitude: 55.48
Hotel found: Lindsey Hôtel
Latitude: 21.64, Longitude: 69.61
Hotel found: Lords Inn Porbandar
Latitude: 19.08, Longitude: 83.82
Hotel not found... skipping
Latitude: -5.79, Longitude: -35.21
Hotel found: Villa Park Hotel | Natal
Latitude: -12.26, Longitude: 44.53
Hotel found: Loulou
Latitude: -17.88, Longitude: 36.89
Hotel found: Hotel Flamingo
Latitude: 8.57, Longitude: 81.23
Hotel found: Welcombe Hotel
Latitude: 4.92, Longitude: 29.47
Hotel not found... skipping
Latitude: -9.01, Longitude: -35.22
Hotel found: Salinas do Maragogi All Inclusive Resort
Latitude: 2.92, Longitude: 73.57
Hotel found: Medhufushi Island Resort
Latitude: -21.37, Longitude: 55.62
Hotel found: "Plantation Bed and Breakfast
Latitude: -0.12, Longitude: -51.29
Hotel found: Casa Lima Santos
Latitude: 6.8, Longitude: 81.48
Hotel not found... skipping
Latitude: 18.12, Longitude: 83.42
Hotel found: Working Womens Hostel
Latitude: -24.71, Longitude: 33.88
Hotel found: Hotel Gani
Latitude: -19.98, Longitude: 57.61
Hotel found: Pereybere Hotel & Spa

In [18]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Georgetown,MY,89.60,5.41,100.34,Cititel Penang
7,Hithadhoo,MV,82.44,-0.60,73.08,Scoop Guest House
29,Bambous Virieux,MU,82.00,-20.34,57.76,Casa Tia Villa
32,Ambilobe,MG,84.56,-13.20,49.05,Hôtel & Restaurant DIANA Ambilobe
37,Islamkot,PK,84.27,24.70,70.18,Ghazi Guest House
...,...,...,...,...,...,...
539,Mazagao,BR,80.60,-0.12,-51.29,Casa Lima Santos
548,Wattegama,LK,84.20,6.80,81.48,
571,Vizianagaram,IN,84.20,18.12,83.42,Working Womens Hostel
576,Manjacaze,MZ,82.94,-24.71,33.88,Hotel Gani
580,Cap Malheureux,MU,82.00,-19.98,57.61,Pereybere Hotel & Spa

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=100, point_radius=2)
# Set the info box template for the markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dl>
"""
# Make a Seires of info_box_templates for each hotel
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))