In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df.head(20)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Shubarkuduk,KZ,22.21,light snow,49.14,56.49,NaN
1,14,Narsaq,GL,23.00,snow,60.92,-46.05,Hotel Narsaq
2,19,Dikson,RU,23.90,light snow,73.51,80.55,NaN
3,90,Husavik,IS,26.02,light snow,66.04,-17.34,Bjarnabúð
4,105,Akureyri,IS,20.46,light snow,65.68,-18.09,Icelandair Hotel Akureyri
5,197,Synya,RU,27.16,light snow,65.37,58.04,NaN
6,201,Nanortalik,GL,27.36,light snow,60.14,-45.24,"NTS Rooms, Nanortalik"
7,274,Ust-Kulom,RU,24.78,light snow,61.69,53.69,NaN
8,391,Qaqortoq,GL,23.00,light snow,60.72,-46.03,Hotel Qaqortoq
9,397,Oktyabrskiy,RU,26.13,light snow,54.48,53.47,Уязы-Тау гостиница
10,409,Novoagansk,RU,22.35,light snow,61.94,76.66,NaN
11,500,Vavozh,RU,25.65,light snow,56.78,51.93,Tri Medvedya
12,558,Ponazyrevo,RU,29.52,light snow,58.36,46.31,NaN
13,566,Usinsk,RU,27.05,light snow,65.99,57.53,Dobro Pozhalovaty

In [4]:
# Choose 4 cities in close proximity on the same continent and make them separate DataFrames.
city_1_df = city_data_df.loc[city_data_df["City"] == "Usinsk"]
city_2_df = city_data_df.loc[city_data_df["City"] == "Novoagansk"]
city_3_df = city_data_df.loc[city_data_df["City"] == "Oktyabrskiy"]
city_4_df = city_data_df.loc[city_data_df["City"] == "Vavozh"]
city_2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,409,Novoagansk,RU,22.35,light snow,61.94,76.66,NaN

In [5]:
# Get cities coordinates into tuples
location_1 = [city_1_df.iloc[0]["Lat"], city_1_df.iloc[0]["Lng"]]
location_2 = [city_2_df.iloc[0]["Lat"], city_2_df.iloc[0]["Lng"]]
location_3 = [city_3_df.iloc[0]["Lat"], city_3_df.iloc[0]["Lng"]]
location_4 = [city_4_df.iloc[0]["Lat"], city_4_df.iloc[0]["Lng"]]
location_4

[56.78, 51.93]

In [7]:
# Add a Google Map figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add a Google Maps directions layer between the cities
direction_1_to_4 = gmaps.directions_layer(location_1, location_4, waypoints = [location_2, location_3], 
                                          travel_mode = 'DRIVING')
fig.add_layer(direction_1_to_4)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Combine four cities DataFrames into one DataFrame 
city_1 = city_1_df.values[0]
city_2 = city_2_df.values[0]
city_3 = city_3_df.values[0]
city_4 = city_4_df.values[0]

four_hotels_df = pd.DataFrame([city_1, city_2, city_3, city_4], 
                    columns=['City_ID', 'City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng', 'Hotel Name'])
four_hotels_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,566,Usinsk,RU,27.05,light snow,65.99,57.53,Dobro Pozhalovaty
1,409,Novoagansk,RU,22.35,light snow,61.94,76.66,NaN
2,397,Oktyabrskiy,RU,26.13,light snow,54.48,53.47,Уязы-Тау гостиница
3,500,Vavozh,RU,25.65,light snow,56.78,51.93,Tri Medvedya

In [9]:
# Add a marker map for the travel spots.
locations = four_hotels_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Set the info box template for the markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
<dl>
"""
# Make a Seires of info_box_templates for each hotel
hotel_info = [info_box_template.format(**row) for index, row in four_hotels_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))